<div class="controls-button-container">
	<div>
		<button (touchstart)="doCommandMouseDown(65)" (touchend)="cancelInterval()" (mouseclick)="doCommand(65)" (mouseup)="cancelInterval()" (mouseleave)="cancelInterval()" ng-bind-html><i class="arrow left"></i></button>

		<button (touchstart)="doCommandMouseDown(68)" (touchend)="cancelInterval()" (mouseclick)="doCommand(68)" (mouseup)="cancelInterval()" (mouseleave)="cancelInterval()" ng-bind-html><i class="arrow right"></i></button>
		<span class="rotate-button-container">
			<button class="rotate-button" (touchstart)="doCommandMouseDown(87)" (touchend)="cancelInterval()" (mouseclick)="doCommand(87)" (mouseup)="cancelInterval()" (mouseleave)="cancelInterval()" ng-bind-html>&#8635;</button>

			<button class="rotate-button" (touchstart)="doCommandMouseDown(69)" (touchend)="cancelInterval()" (mouseclick)="doCommand(69)" (mouseup)="cancelInterval()" (mouseleave)="cancelInterval()" ng-bind-html>&#8634;</button>
		</span>
	</div>
	<div>
		<button class="down-button" (touchstart)="doCommandMouseDown(83)" (touchend)="cancelInterval()" (mouseclick)="doCommand(83)" (mouseup)="cancelInterval()" (mouseleave)="cancelInterval()" ng-bind-html><i class="arrow down"></i></button>
	</div>
</div>